{% extends 'base_molka.html.twig' %}

{% block title %}New Lignecommande{% endblock %}

{% block tableau %}
    <h1>Create new Lignecommande</h1>

    {{ include('admin_lignecommande/_form.html.twig') }}

    <a href="{{ path('app_admin_lignecommande_index') }}">Retour</a>
{% endblock %}
