{% extends 'base_client.html.twig' %}

{% block title %}Become a player{% endblock %}

{% block content %}
   <div class="container">


    {% if form is defined %}
        <h1>Become a player</h1>
        {{ include('client_joueur/_form.html.twig') }}
        {% else %}
        <h2>Vous etes un joueur </h2>
    {% endif %}

    <a href="{{ path('app_client_joueur') }}">back to my teams</a>
    </div>
{% endblock %}
