
<form method="post" action="{{ path('app_user_f_delete', {'id_user': app.user.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.idUser) }}">
    <button class="btn btn-info " target="_self" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Delete</button>
</form>
